.btn-arrow{
    position: relative;
    &:before, &:after{
        @include ba;
    }
    &:before{
        @include mt3;
    }
    &:after{
        width: 0;
        height: 0;
    }
}

.btn-arrow-down{
    width: 7px;
    height: 130px;
    color: $fc1;
    animation: shortToLong 2s linear infinite alternate both;
    &:before{
        left: (7px - 1px) / 2;
        top: 0;
        bottom: 4px;
        width: 1px;
        background: $fc1;
    }
    &:after{
        left: 0;
        bottom: 0;
        border-left: 4px solid transparent;
        border-right: 3px solid transparent;
        border-top: 4px solid;
    }
}

@keyframes shortToLong{
    0%{ height: 130px; }
    100%{ height: 180px; }
}

.btn-arrow-left, .btn-arrow-right{
    width: 15px;
    height: 12px;
    color: $black;
    &:before{
        top: (12px - 2px) / 2;
        height: 2px;
        background: $black;
    }
    &:after{
        top: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}

.btn-arrow-right{
    &:before{
        left: 0;
        right: 7px;
    }
    &:after{
        right: 0;
        border-left: 7px solid;
    }
}

.btn-arrow-left{
    &:before{
        left: 7px;
        right: 0;
    }
    &:after{
        left: 0;
        border-right: 7px solid;
    }
}

.btn-border-arrow{
    position: relative;
    &:after{
        @include ba;
        background: $black;
    }
    i{
        &:before, &:after{
            @include ba;
            width: 0;
            height: 0;
        }
    }
}

.btn-borderArrow-left, .btn-borderArrow-right{
    width: 40px;
    height: 14px;
    &:after{
        top: (14px - 2px) / 2;
        left: 0;
        right: 0;
        height: 2px;
    }
    i{
        &:before, &:after{
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
        }
        &:before{
            color: $black;
        }
        &:after{
            color: $white;
        }
    }
}

.btn-borderArrow-left{
    i{
        &:before, &:after{
            border-right: 7px solid;
        }
        &:before{
            left: 0;
        }
        &:after{
            left: 2px;
        }
    }
}

.btn-borderArrow-right{
    i{
        &:before, &:after{
            border-left: 7px solid;
        }
        &:before{
            right: 0;
        }
        &:after{
            right: 2px;
        }
    }
}

.btn-video{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
    @include c(66px);
    background: $white;
    background: $white-8;
    color: $fc1;
    &:after, &:before{
        @include ba;
    }
    &:after{
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -5px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 14px solid;
    }
    &:before{
        @include tblr;
        background: $white;
        border-radius: 50%;
        animation: twinkle 2s infinite both;
    }
    @media screen and (max-width:481px) {
        transform: scale(.7);
    }
}

@keyframes twinkle{
    0%{ transform: scale(0); opacity: 1; }
    100%{ transform: scale(1.5); opacity: 0; }
}

.btn-learn-more{
    padding: (42px - 24px) / 2 30px;
    border: 1px solid $fc1;
    line-height: 24px;
    font-size: 12px;
    color: $fc3;
    @include mt3;
}

.btn-learnMore-hover{
    @media screen and (min-width:1025px) {
        &:hover{
            .btn-learn-more{
                background: $fc1;
                color: #fff;
            }
        }
    }
}

.btn-menu{
    position: fixed;
    top: (100px - 60px) / 2;
    right: (75 / 1920) * 100%;
    z-index: 1012;
    width: 60px;
    height: 60px;
    cursor: pointer;
    @include mt3;
    span{
        position: absolute;
        right: (60px - 20px) / 2;
        width: 20px;
        height: 2px;
        @include mt6;
        &:before, &:after{
            @include ba;
            top: 0;
            background: $fc1;
            height: 100%;
        }
        &:before{
            left: 0;
            width: 2px;
        }
        &:after{
            right: 0;
            width: 14px;
        }
    }
    .l1{
        top: 24px;
        &:before{
            animation: spotMove 1.2s infinite both;
        }
    }
    .l2{
        top: (60px - 2px) / 2;
        &:before{
            animation: spotMove 1.2s .2s infinite both;
        }
    }
    .l3{
        top: 29px + 5px;
        &:before{
            animation: spotMove 1.2s .4s infinite both;
        }
    }
    &.act{
        span{
            &:before{
                width: 6px;
                animation: none;
            }
        }
        .l2{
            transform: translateX(-100%);
            @include hide;
        }
        .l1, .l3{
            top: (60px - 2px) / 2;
        }
        .l1{
            transform: rotate(225deg);
        }
        .l3{
            transform: rotate(-225deg);
        }
    }
    @media screen and (max-width:1024px) {
        right: 0;
        top: 0;
    }
}

@keyframes spotMove {
    0%{ transform: translateX(6px); opacity: 1; }
    100%{ transform: translateX(0); opacity: 0; }
}

.share{
    line-height: 24px;
    text-align: left;
    p{ 
        margin-right: 10px;
        text-transform: capitalize; 
        color: $fc1; 
    }
    a{ font-size: 18px; 
        + a{ margin-left: 15px; }
        @media screen and (min-width:1025px) {
            &:hover{
                color: $fc1;
            }
        }
    }
    .icon-weibo{
        font-size: 19px;
    }
    &.mshare{
        width: 24px;
        text-align: center;
        p{
            margin: 0 0 25px;
            > img{
                vertical-align: bottom;
                max-width: 100%;
            }
        }
        a{
            display: block;
            color: $white;
            color: $white-5;
            + a{
                margin: 2px 0 0;
            }
            @media screen and (min-width:1025px) {
                &:hover{
                    color: $white;
                }
            }
        }
    }
}

.ix-ti{
    color: $fc1;
    .en{
        font-size: 50px;
        margin-bottom: 8px;
    }
    .ch{
        font-size: 16px;
        line-height: 1.6;
    }
    .ti{
        font-size: 24px;
    }
    .line{
        display: block;
        margin-top: 15px;
        width: 30px;
        height: 3px;
        background: $fc1;
    }
    .text{
        margin-top: 25px;
        line-height: 1.6;
        font-size: 18px;
    }
    @media screen and (max-width:1366px) {
        .en{
            font-size: 40px;
        }
        .ch{
            font-size: 14px;
        }
        .ti{
            font-size: 20px;
        }
        .text{
            font-size: 16px;
        }
    }
    @media screen and (max-width:601px) {
        .en{
            font-size: 32px;
            margin-bottom: 5px;
        }
        .ch{
            font-size: 13px;
        }
        .ti{
            font-size: 18px;
        }
        .text{
            font-size: 15px;
        }
        .line{
            width: 5vw;
        }
    }
    @media screen and (max-width:481px) {
        .en{
            font-size: 26px;
        }
        .ch{
            font-size: 12px;
        }
        .ti{
            font-size: 16px;
        }
        .text{
            margin-top: 20px;
            font-size: 14px;
        }
    }
}

.btn-big{
    @include plr;
    top: 50%;
    margin-top: -(42px / 2);
    font-size: 42px;
    line-height: 1;
    text-align: center;
    color: $black;
    color: $black-5;
    transform: translateY(-100%);
    @include hide;
    @include mt3;
}

.btn-big-hover{
    @media screen and (min-width:1025px) {
        &:hover{
            .btn-big{
                transform: none;
                @include show;
            }
        }
    }
}

.btn{
    @include mt3;
}

.pro-ti{
    font-size: 72px;
    color: $fc1;
    line-height: 1.4;
    @media screen and (max-width:1024px) {
        font-size: 58px;
    }
    @media screen and (max-width:601px) {
        font-size: 48px;
    }
    @media screen and (max-width:481px) {
        font-size: 38px;
    }
}