.pro1{
    position: relative;
    border-top: 1px solid $hc1;
    padding: 90px - 25px 0 140px - 50px;
    &:before{
        @include ba; 
        left: 0;
        right: 0;
        top: 0;
        background: $hc4;
        padding-bottom: (480 / 1920) * 100%;
    }
    .pro-nav{
        margin-top: 20px;
    }
    .pw{
        position: relative;
    }
    .pro-list{
        margin-top: 80px;
    }
}