.pro-list{
    margin-left: -40px;
    .item{
        width: 50%;
        float: left;
        padding-left: 40px;
        margin-bottom: 53px - 8px;
        cursor: pointer;
    }
    .pai{
        padding-bottom: (400 / 580) * 100%;
    }
    .nowti{
        margin-top: 23px - 7px;
        height: 24px;
        line-height: 24px;
        text-align: center;
    }
    @media screen and (max-width:601px) {
        margin-left: -20px; 
        .item{
            padding-left: 20px;
            margin-bottom: 25px;
        }
    }
    @media screen and (max-width:481px) {
        margin-left: -10px; 
        .item{
            padding-left: 10px;
            margin-bottom: 15px;
        }
        .nowti{
            margin-top: 8px;
            font-size: 13px;
        }
    }
}