.header{
    height: 100px;
    background: $hc4;
    line-height: 24px;
    @include mt3;
    .logo{
        position: absolute;
        top: (100px - 56px) / 2;
        left: (95 / 1920) * 100%;
        width: 144px;
    }
    .nav{
        li{
            position: relative;
            padding: (100px - 24px) / 2 0;
            margin: 0 (25 / 1920) * 100%;
            @include mt3;
            > a{
                display: block;
                padding: 0 20px;
                height: 24px;
                color: $fc1;
                overflow: hidden;
                &.act{
                    .e{
                        margin-top: -24px;
                    }
                }
            }
            &:before{
                @include ba;
                top: 0;
                left: 0;
                width: 0;
                height: 4px;
                background: $fc3;
                @include mt3;
            }
            &:hover{
                &:before{
                    width: 100%;
                }
                .e{
                    margin-top: -24px;
                }
                .pull-nav{
                    transform: none;
                    @include show;
                }
            }
        }
        .e{
            @include mt3;
        }
    }
    &.sheader{
        height: 80px;
        box-shadow: 0 0 5px $black-5;
        .logo{
            top: (80px - 56px) / 2;
        }
        .nav li{
            padding: (80px - 24px) / 2 0;
        }
    }
}

.btn-menu.s-btn-menu{
    top: (80px - 60px) / 2;
}

.pull-nav{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 12px 20px;
    width: 180px;
    background: $white;
    text-align: left;
    transform: translateY(20px);
    @include hide;
    @include mt3;
    > a{
        display: block;
        padding: (40px - 24px) / 2 0;
        color: $fc3;
        @media screen and (min-width:1025px) {
            &:hover{
                color: $fc1;
            }
        }
    }
}

.menuBox{
    background: #fff;
    padding-right: (75 / 1920) * 100%;
    transform: translateY(-100%);
    @include hide;
    @include mt6;
    &.show{
        transform: none;
        @include show;
    }
    .menuCont{
        padding-top: 15%;
        margin-right: 25px + 60px;
        height: 100%;
        background: $hc5;
        @include sy;
    }
    .logo{
        top: 25px;
    }
    .m-cop, .logo{
        position: fixed;
        z-index: 99;
        left: (95 / 1920) * 100%;
    }
    .m-cop{
        bottom: 30px;
        margin-left: 15px;
        img{
            vertical-align: bottom;
            max-width: 100%;
        }
    }
    .share{
        position: fixed;
        z-index: 99;
        bottom: 30px;
        right: (75 / 1920) * 100%;
        margin-right: 60px + 25px + 30px;
    }
    .navMobile{
        .mtv{
            display: none;
        }
        a{
            display: block;
            line-height: 36px;
            color: $white;
        }
        dd{
            padding: 0 40%;
            + dd{
                margin-top: 57px - 12px;
            }
        }
        dd > a{
            height: 36px;
            text-align: center;
            font-size: 30px;
            overflow: hidden;
            @media screen and (min-width:1025px) {
                &:hover{
                    transform: translateX(20px);
                    .e{
                        margin-top: -36px;
                    }
                }
            }
        }
        .e{
            text-transform: capitalize;
        }
        .c{
            &:before{
                content: "";
                display: inline-block;
                vertical-align: top;
                margin: 17px 25px 0 0;
                width: 25px;
                height: 1px;
                background: $white;
            }
        }
    }
}

.mtop{
    height: 100px;
}