.history-item{
    .year{
        margin-bottom: 29px - 14px;
        font-size: 54px;
        color: $fc1;
        line-height: 1;
    }
    @media screen and (max-width:861px) {
        .year{
            font-size: 44px;
        }
    }
    @media screen and (max-width:781px) {
        .year{
            font-size: 36px;
        }
    }
    @media screen and (max-width:641px) {
        border: 1px solid $hc1;
        padding: 20px 5%;
        box-shadow: 0 3px 5px $black-1;
        + .history-item{
            margin-top: 30px;
        }
    }
    @media screen and (max-width:601px) {
        + .history-item{
            margin-top: 5vw;
        }
    }
    @media screen and (max-width:481px) {
        .year{
            font-size: 32px;
            margin-bottom: 10px;
        }
    }
}

.history-list{
    li{
        width: 50%;
        float: right;
    }
    .history-item{
        position: relative;
        margin-bottom: (150 / 680) * 100%;
        &:before{
            @include ba;
            top: 20px;
            width: 88px;
            height: 1px;
            background: $fc1;
        }
    }
    .le{
        .history-item{
            padding-left: 100px;
            &:before{
                left: 0;
            }
        }
    }
    .ri{
        padding-top: (200 / 1360) * 100%;
        .history-item{
            padding-right: 100px;
            &:before{
                right: 0;
            }
        }
        .year{
            text-align: right;
        }
    }
    @media screen and (max-width:1024px) {
        .history-item{
            margin-bottom: 100px;
        }
    }
    @media screen and (max-width:861px) {
        .le{
            .history-item{
                padding-left: 60px;
            }
        }
        .ri{
            .history-item{
                padding-right: 60px;
            }
        }
        .history-item:before{
            width: 48px;
        }
    }
    @media screen and (max-width:781px) {
        .le{
            .history-item{
                padding-left: 40px;
            }
        }
        .ri{
            .history-item{
                padding-right: 40px;
            }
        }
        .history-item:before{
            width: 28px;
        }
    }
    @media screen and (max-width:641px) {
        display: none;
    }
}

.history-wrap{
    position: relative;
    padding-top: (90 / 1360) * 100%;
    &:before, &:after{
        @include ba;
    }
    &:before{
        left: 50%;
        top: 29px;
        bottom: 0;
        border-left: 1px solid $fc1;
    }
    &:after{
        @include c(29px);
        top: 0;
        left: 50%;
        margin-left: -14px;
        border: 1px solid $fc1;
        box-sizing: border-box;
    }
    @media screen and (max-width:1024px) {
        padding-top: 60px;
    }
    @media screen and (max-width:641px) {
        padding-top: 0;
        &:before, &:after{
            display: none;
        }
    }
}