.sos-box{
    text-align: center; position: fixed; left: 0; right: 0; top: 50%; margin-top: -165px; padding: 0 10%; font-size: 12px; color: $fc3;
    img{ vertical-align: bottom; max-width: 90%; }
    .ch{ margin-top: 30px; font-size: 30px; font-weight: bold; color: $fc1; }
    .en{ margin-top: 10px; font-size: 22px; }
    .tx1{  margin-top: 60px;}
    .ib{ color: $fc3; text-decoration: underline; 
        + .ib{ margin-left: 30px; }
    }
    .fib{ margin-top: 10px; }
}
@media screen and (min-width:1025px) {
    .sos-box .ib:hover{ color: $fc1; }
}
@media screen and (max-width:1024px) {
    .sos-box{ margin: 0; transform: translateY(-50%); }
}
@media screen and (max-width:601px) {
    .sos-box .ch{ font-size: 24px; }
    .sos-box .en{ font-size: 18px; }
    .sos-box .tx1{ margin-top: 10vw; }
    .sos-box .ch{ margin-top: 5vw; }
}
@media screen and (max-width:481px) {
    .sos-box .ch{ font-size: 20px; }
    .sos-box .en{ margin-top: 5px; font-size: 14px; }
    .sos-box .fib{ margin-top: 5px; }
}